apiVersion: v1
kind: Service
metadata:
    name: my-service
spec:
    type: NodePort
    ports:
        - nodePort: 30000
          port: 8080
          targetPort: 80
          protocol: TCP
    selecter:
        app: my-app
